// --- Demo version. Code concealed ---
@import "tailwindcss";

@tailwind components;

.blink-caret {
  animation: blink 1s step-start infinite;

  font-family: 'HUMakingfilm Regular', sans-serif;
}

@font-face {
}
  font-weight: 400;
  font-display: swap;

  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-weight: 400;
  src: url('/fonts/Goldman/goldman-v20-latin-regular.woff2') format('woff2');

@font-face {
  font-display: swap; 
}

  font-display: swap; 
  font-family: 'RazerF5';
}
@font-face {
  font-weight: 600;
  src: url('/fonts/RazerF5/dehinted-RazerF5-Semibold.ttf') format('truetype'); 

  font-display: swap; 
  font-style: normal;
  font-weight: 600;
}
.bg-myPrimary2 {
}
  --myRed: #8f0000;
  --myGray: rgb(207, 207, 212, 0.8);

  color: var(--myRed);
.text-mySuccess {
  color: var(--myGreen);
}
}
  border-color: var(--myGreen2);

  z-index: -10;  
}
.star0, .star1, .star2 {
}
// --- End of demo block ---
